<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>foodvibe: your personalised restaurant finder</title>
        <link
            href="https://fonts.googleapis.com/css2?family=VT323&family=Inter:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="../static/styles.css" />
        <link
            rel="stylesheet"
            href="../static/demon-override.css"
            id="demon-override"
            disabled
        />
        <script src="../static/scripts.js" defer></script>
    </head>
    <body id="body">
        <div class="container">
            <div class="nav">
                <div></div>

                <div class="mode-switch">
                    <label for="mode-toggle">ANGEL</label>
                    <label class="switch">
                        <input type="checkbox" id="mode-toggle" />
                        <span class="slider"></span>
                    </label>
                    <label for="mode-toggle">DEMON</label>
                </div>

                <div>
                    <span style="font-family: var(--header-font)">
                        <a href="/login"><u>Login</u></a>
                    </span>
                </div>
            </div>

            <h1>
                foodvibe: find small restaurants near you that match your taste
                profile!
            </h1>
        </div>
    </body>
</html>
